.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edfcec;
    padding: 10px;
    border: 1px solid rgb(203, 255, 199) ;
    font-size: x-large;
}

.navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-logo{
    flex-basis: 10%;
}

.navbar-logo img {
    height: 90px;
}

.navbar-menu{
    flex-basis: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: -5.55%;
}
  
.navbar-menu-list li {
    display: inline-block;
    margin-right: 70px;
}
  
.navbar-menu-list li:last-child {
    margin-right: 0;
}
  
.navbar-menu-list li a {
    text-decoration: none;
    color: #333;
}
  
.navbar-menu-list li a:hover {
    color: #000;
}

.Risk{
    border: 1px solid #000;
    padding: 3px;
    margin: 10px;
}

.Risks{
    border: 2px solid #992020;
    padding: 5px;
    margin: 40px;
}

.Answer{
    border: 2px solid #39db62;
    margin: 10px;
}

.Question{
    border: 2px solid #2531d3;
    margin: 10px;
    padding: 10px;
}

button.active {
    background-color: yellow;
}

.Docs{
    margin:10px;
}

.DocCheckBox{
    padding:15px;
    margin:30px;
}

.QuestIcon {
    display: inline-block;
    transform: scale(2);
}
  
.QuestIcon:hover {
    opacity: 0.5;
}
  
.Tooltip {
    position: absolute;
    z-index: 999;
    background-color: #f9f9f9;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}